#topNavbar {
    background-color: green;
    font-family: verdana;
    font-size: 20px;
}

#navBarContent {
    font-color: white;
}
#welcomeMessage{
    font-size: 50px;
    font-family: verdana
}

#contentRow {
    display:none;
}
.nav a {
    color: white !important;
}

.nav li {
    color: white !important;
}

#examHelperBrand {
    color: white;
}
.panel-body {
    margin: 5px; 
    padding: 3px;
    border: 1px solid black;
}

.panel > .panel-heading {
    background-color: green;
    background-image: none;
}
.btn {
    margin: 3px;
}

#infoRepository {
}

.infoAboutTool {
    font-family: verdana;
    margin: 2px;
    padding:2px;
}

.form-group {
    margin: 3px;
}
#requestNewQuestionButton {
    margin: 2px;
}

#infoBrowseDiv {
    border: 2px solid pink;
}

#infoRepoDiv {
    margin-left: 2px;
    border: 2px solid green;
}

#infoChatDiv {
    margin-right: 2px;
    border: 2px solid black;
}

.img-rounded {
}
div.slide-left {
  width:100%;
  overflow:hidden;
}
div.slide-left h1 {
  animation: slide-left 5s;
}

@keyframes slide-left {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

